html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.CommonSpan {
    display: flex;
    justify-content: center;
    background-color: #b1e3c0;
    margin: 20px 150px 40px 300px;
    padding: 5px;
    border-radius: 10px;
}
.InputLabel {
    display: flex;
    align-items: center;
}

    .InputLabel label {
        order: 2;
        //margin-left: 10px; /* Adjust the spacing as needed */
    }

    .InputLabel input {
        order: 1;
       
    }

.LabelCss {
    text-align: center;
    background-color: antiquewhite;
    padding: 6px;
    border-radius: 5px;
    margin-top: 6px;
}
.selectAllheader {
    text-align: center;
    background-color: antiquewhite;
    padding: 6px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom:10px;
}
.Inputcss {
    border-radius: 5px;
    text-align: center;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;
    border: 2px solid #000;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}

.inputforlargetext {
background-color:lavenderblush;
text-align:center;
}

/* Adding margin to the rows */

#form {
    display: grid;
    align-items: center;
    /*height: 100vh;*/ /* This is just for demonstration to see the vertical alignment */
    grid-auto-flow: column;
    column-gap: 5px;
    /* background-color:azure;*/
}

.divForm {
    margin-left:100px;
}

.buttonCss {
    margin-left: 310px !important;
    margin-top: 10px;
    border-radius: 5px;
}

.text-md-end{
    margin-left:200px;
}

.centered-span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa; /* Optional: Set a background color if needed */
    color: #007bff; /* Change to your desired text color */
    height: 100%; /* Ensure the span takes up the full height of the parent */
}
